<header class="header">
	<div class="navbar-fixed">
		<nav>
		    <div class="nav-wrapper">
		      <a href="/" class="yellow-text brand-logo">Turf Surf</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/arenas">Create Game</a></li>
		        <li><a href="#">Join Game</a></li>
		        <% if user_signed_in? %>
		        	<li><a href="/mailbox/inbox">Inbox</a></li>
		        	<li><a href="/users/<%= current_user.id %>">Profile</a></li>
		        	<li><a href="/users/sign_out" data-method="delete">Log Out</a></li>
		        <% else %>
			        <li><a href="/users/sign_up">Sign Up</a></li>
			        <li><a href="/users/sign_in">Log In</a></li>
			    <% end %>
		      </ul>
		    </div>
		 </nav>
	</div>

	<div class="container">
		<div class="intro-text">
			<div class="animated lightSpeedIn intro-title">Welcome to TurfSurf!</div>
			<div class="coming-soon">Coming Soon</div>
			<a href="#how-it-works" class="waves-effect waves-light btn-large yellow info-btn">Tell Me More</a>
		</div>
	</div>
</header>


<section id="how-it-works">
	<div class="container center-align">
		<h3>How It Works</h3>
		<div class="row">
			<div class="col s12 m6 offset-m3">
				<ul class="tabs" style="width: 100%;">
					<li class="tab col s6" style="width: 50%;">
						<a href="if-you-create" class="active js-create">If you create</a>
					</li>
					<li class="tab col s6" style="width:50%;">
						<a href="if-you-join" class="js-join">If you join</a>
					</li>
					<div class="indicator" style="right: 299px; left: 0px;"></div>
					<div class="indicator" style="right: 299px; left: 0px;"></div>
				</ul>
			</div>

			<div class="col s12" id="if-you-create" style="display: block;">
				<div class="row">
					<div class="col s12 m4">
						<img class="responsive-image circle" src="http://placehold.it/150x150">
						<h4>Pick Arena</h4>
						<p>Pick your favorite arena from the available options and create your game.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="http://placehold.it/150x150">
						<h4>Invite Friends</h4>
						<p>Invite all your friends to the game with both email and text invitations.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="http://placehold.it/150x150">
						<h4>Book</h4>
						<p>Reserve a booking with the arena and go play with your friends when it's time.</p>
					</div>
				</div>
			</div>

			<div class="col s12" id="if-you-join" style="display: none;">
				<div class="row">
					<div class="col s12 m4">
						<img class="responsive-image circle" src="http://placehold.it/150x150">
						<h4>Join Games</h4>
						<p>Pick from all available options and send a request to join the game.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="http://placehold.it/150x150">
						<h4>Something</h4>
						<p>I'll come up with something to put in here when I know what the heading is.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="http://placehold.it/150x150">
						<h4>Play</h4>
						<p>Once your request is accepted, get to the arena on time and play a good game.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>