<header class="header">
	<div class="navbar-fixed">
		<nav>
		    <div class="nav-wrapper">
		      	<a href="/"><img class="logo-image" src="/assets/logo.png"></a>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons right">menu</i></a>
				<ul class="right hide-on-med-and-down">
		        <li><a href="/arenas">Create Game</a></li>
		        <li><a href="/games">Join Game</a></li>
		        <% if user_signed_in? %>
		        	<li><a href="/mailbox/inbox">Inbox</a></li>
		        	<li><a href="/users/<%= current_user.id %>"><%=current_user.username%></a></li>
		        	<li><a href="/users/sign_out" data-method="delete">Log Out</a></li>
		        <% else %>
			        <li><a href="/users/sign_up">Sign Up</a></li>
			        <li><a href="/users/sign_in">Log In</a></li>
			    <% end %>
		      </ul>
		      <ul class="side-nav" id="nav-mobile">
		        <li><a href="/arenas">Create Game</a></li>
		        <li><a href="/games">Join Game</a></li>
		        <% if user_signed_in? %>
		        	<li><a href="/mailbox/inbox">Inbox</a></li>
		        	<li><a href="/users/<%= current_user.id %>">Profile</a></li>
		        	<li><a href="/users/sign_out" data-method="delete">Log Out</a></li>
		        <% else %>
			        <li><a href="/users/sign_up">Sign Up</a></li>
			        <li><a href="/users/sign_in">Log In</a></li>
			    <% end %>
		      </ul>
		    </div>
		 </nav>
	</div>

	<div class="container">
		<div class="intro-text">
			<div class="coming-soon">Instantly organize Miami soccer matches</div>
			<a href="/arenas" class="waves-effect waves-light btn-large light-blue info-btn">Organize a Match</a>
		</div>
	</div>
</header>


<section id="how-it-works">
	<div class="container center-align">
		<h3 style="text-transform: uppercase;">How It Works</h3>
		<div class="row">
			<div class="col s12 m6 offset-m3">
				<ul class="tabs" style="width: 100%;">
					<li class="tab col s6" style="width: 50%;">
						<a href="#if-you-create" class="active js-create blue-text text-lighten-1">If you create</a>
					</li>
					<li class="tab col s6" style="width:50%;">
						<a href="#if-you-join" class="js-join blue-text text-lighten-1">If you join</a>
					</li>
					<div class="indicator" style="right: 299px; left: 0px;"></div>
					<div class="indicator" style="right: 299px; left: 0px;"></div>
				</ul>
			</div>

			<div class="col s12" id="if-you-create">
				<div class="row">
					<div class="col s12 m4">
						<img class="responsive-image circle" src="/assets/arena.png">
						<h4>Pick Arena</h4>
						<p>Pick your favorite arena from the available options and create your game.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="/assets/book.jpg">
						<h4>Reserve Slot</h4>
						<p>Call the arena to reserve a time slot on a particular date.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="/assets/invite.png">
						<h4>Invite Friends</h4>
						<p>Ask your friends to join via text and/or email and play when it’s time.</p>
					</div>
				</div>
			</div>

			<div class="col s12" id="if-you-join">
				<div class="row">
					<div class="col s12 m4">
						<img class="responsive-image circle" src="/assets/browse.png">
						<h4>Browse Games</h4>
						<p>Pick from all available options and send a request to join the game.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="/assets/play.jpg">
						<h4>Play</h4>
						<p>Once your request is accepted, get to the arena and play the game.</p>
					</div>
					<div class="col s12 m4">
						<img class="responsive-image circle" src="/assets/friends.png">
						<h4>Make New Friends</h4>
						<p>Meet like minded people and make new friends you can play with.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>