<div class="navbar-fixed">
  <nav style="background: #000;">
      <div class="nav-wrapper">
        <a href="/" class="yellow-text brand-logo">Turf Surf</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Create Game</a></li>
          <li><a href="#">Join Game</a></li>
          <li><a href="/users/sign_in">Log In</a></li>
        </ul>
      </div>
   </nav>
</div>