<div class="col s12 mail-sub">
  <div class="col s9">
      <span>Message from <span class="red-text"><%= conversation.originator.username %></span></span>
      <span> at <%= conversation.messages.last.created_at.strftime("%b %d, %I:%M%p") %></span>
  </div>

  <div class="col s2">
      <%= link_to "View", conversation_path(conversation), :class => "waves-effect waves-light btn" %>
  </div>
</div>