<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="col s12 mail-sub">
      <div class="col s9">
          <span>-Message from

          <% if message.sender == current_user %>
            <span class="red-text"><%= message.sender.username %></span>
          <% else %>
            <span class="blue-text"><%= message.sender.username %></span>
          <% end %>
          </span>
          <span> at <%= message.created_at.strftime("%b %d, %I:%M%p") %>: </span>
          <span class="blue-grey-text darken-3"><%= message.body %></span>
      </div>
    </div>
<% end %>
