<div class="row">
  <div class="divider"></div>
  <div class="col s12">
    <%= link_to "Compose", new_conversation_path, class: "waves-effect waves-light btn" %>
    <div class="divider"></div>
  </div>

  <div class="col s4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class=" s4">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
          <%= render 'conversations/form' %>
        <% else %>
          <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>
</div>