
@import "materialize";
@import 'static_pages';
@import 'arenas';
@import 'users';
@import 'mailbox';
@import 'conversations';
@import 'games';
@import 'animate';
@import 'chosen';

 body {
 	font-family: Monserrat, "Helvetica Neue", Helvetica;
	background: #fafafa;
}

 .header {
	background: url(//wallpapercave.com/wp/dN69yCy.jpg) no-repeat center center;
	background-size: cover;
}

 nav {
    background-color: rgba(0,0,0,0.25);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    padding: 0 30px;;
 }

 i.tiny {
 	font-size: 1.3rem;
 }