// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pro-pic {
  height: 150px;
  width: 150px;
}

.info-div {
  margin-top: 50px;
}

.username-div {
  font-size: 25px;
  margin-right: 25px;
  font-weight: 600;
}

.profile-btn {
  margin-top: -10px;
}