<!DOCTYPE html>
<html>
<head>
  <title>TurfSurf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col s10">
        <h5 class="white-text">TurfSurf</h5>
        <p class="grey-text text-lighten-4">Connecting people who want to play soccer.</p>
      </div>
      <div class="col s2">
        <h5 class="white-text">Sitemap</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Create Game</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Join Game</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Log In</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  	<div class="container">
    	<div class="row">
    		<div class="col s4">
			    Turf Surf 2016
			</div>

			<div class="col s4 center-align">
					<i class="material-icons tiny mdi mdi-facebook"></i>
					<i class="material-icons tiny mdi mdi-twitter"></i>
					<i class="material-icons tiny mdi mdi-instagram"></i>
			</div>

			<div class="col s4 right-align">
				Made with <i class="material-icons">code</i> in Miami
			</div>
		</div>
	</div>
  </div>
</footer>

</body>
</html>
